---
import Layout from "../layouts/Layout.astro";
import { Blog, getBlogs } from "../libs/microcms";
const response = await getBlogs({ fields: ["id", "title", "eyecatch"] });
---

<Layout title="TOP">
  <main>
    <section class="article-list">
      {
        response.contents.map((content: Blog) => (
          <div class="article-list-item">
            <a href={content.id}>
              <img src={content.eyecatch.url} />
              <h3>{content.title}</h3>
            </a>
          </div>
        ))
      }
    </section>
  </main>
</Layout>

<style>
  main {
    width: 960px;
    margin-inline: auto;
    padding: 16px 0;
  }

  .article-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .article-list-item {
    box-sizing: border-box;
    width: 320px;
    padding: 16px;
    cursor: pointer;
  }

  .article-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .article-list-item img {
    width: 100%;
  }

  a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }

  @media screen and (max-width: 960px) {
    main {
      width: 100%;
    }

    .article-list-item {
      width: 50%;
    }
  }

  @media screen and (max-width: 480px) {
    .article-list-item {
      width: 100%;
    }
  }
</style>
