---

---

<header>
  <a href="/"><img src="/logo.png" />Bean2Cup</a>
</header>

<style>
  header {
    height: 64px;
    width: 100%;
    background-color: #3d2b1f;
    font-size: 32px;
    font-weight: bold;
    color: #fff4e0;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 48px;
    height: 48px;
  }

  a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 8px;
  }
</style>
